/* styles.css */
*{
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-40px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.dark-theme {
    background-color: #121212; /* Dark background color */
    color: #e2e2e2; /* Light text color */
  }
  
  /* Customize other elements as needed */

.jumbotron {
  background-color: #121212; /* Dark background color */
}

footer {
  background-color: #121212;
  padding: 25px;
}

/* Navbar style */
.navbar {
  background-color: #121212; /* Dark background color for the navbar */
}

/* Navbar link style */
.navbar-nav > li > a {
  color: #fff; /* White text color */
  background-color: #202020;
  transition: background-color 0.5s ease; /* Transition effect for background color */

}

/* Active link style */
.navbar-nav > .active > a,
.navbar-nav > li:hover > a {
  background-color: #121212; /* Dark background color on hover or when active */
}

.column_split {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

canvas {
  width: 100%;
  height: auto;
}

.ten_way_split_block {
  background-color: #1e1e1e;
  padding: 30px;
  width: 10%;
  flex-direction: column;
}

.ten_way_split_block_reverse {
  background-color: #1e1e1e;
  padding: 30px;
  width: 90%;
  flex-direction: column;
}

.six_way_split_block {
  background-color: #1e1e1e;
  padding: 30px;
  width: 16%;
  flex-direction: column;
}

.six_way_split_block_reverse {
  background-color: #1e1e1e;
  padding: 30px;
  width: 84%;
  flex-direction: column;
}

.four_way_split_block {
  background-color: #1e1e1e;
  padding: 30px;
  width: 25%;
  flex-direction: column;
}

.four_way_split_block_reverse {
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 30px;
  width: 75%;
  flex-direction: column;
}

.three_way_split_block {
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 30px;
  width: 33%;
  flex-direction: column;
}

.three_way_split_block_reverse {
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 30px;
  width: 67%;
  flex-direction: column;
}

.two_way_split_block {
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.one_way_split_block {
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table_container {
  justify-content: center;
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 30px;
  width: 100%;
  display: flex;
  height: 50vh;
}

h1, h2, h3, p, th, td, .btn, td, th, .selected-item, .cone_image, .cube_image{
  animation: fadeIn 0.5s ease-out forwards
}

h1 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
  position: relative;
  top: 0%;
  left: 0%;
}

h2 {
  font-size: 1.4vw;
  position: relative;
  top: 0%;
  left: 0%;
}

h4 {
  font-size: 1vw;
  position: relative;
  top: 0%;
  left: 0%;
}

.btn {
  font-size: 1.5vw;
  position: relative;
  background: #1e1e1e;
  color: #5fdac5;
  padding: 10px 10px;
  overflow: hidden;
  border: 2px solid;
  border-radius: 5px;
  border-color: #5fdac5;
  transition: color 0.75s ease, background 0.75s ease; /* Adjusted transition property */
}

.btn:hover {
  color: #1e1e1e;
  background: #5fdac5; /* Add this line to match the background color change */
}

.custom-dropdown {
  z-index: 1000;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;

}

.selected-item {
  font-size: 1.5vw;
  padding: 10px;
  border: 2px solid #5fdac5;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #5fdac5;
}


.dropdown-list {
  max-height: 21vw;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-list li {
  font-size: 1.5vw;
  padding: 10px;
  background-color: #1e1e1e;
  color: #5fdac5;
  border: 2px solid #5fdac5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dropdown-list li:hover {
  background-color: #5fdac5;
  color: #1e1e1e;
}

.custom-dropdown:hover .dropdown-list {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 10px; /* Adjust this value to increase or decrease the gap */
}
th, td {
  font-size: 1.15vw;
  padding: 8px;
  text-align: left;
  color: #1e1e1e;
  font-weight: bold;
}

.table_cell_red {
  background-color: #ff5050;
}

.table_cell_blue {
  background-color: #3399ff;
}

.table_cell_neutral {
  background-color: #5fdac5;
}

#matches-table {
  max-height: 45vh;
  overflow-y: auto;
  display: block;
}

.loader {
  border: 16px solid #1e1e1e;
  border-top: 16px solid #5fdac5;
  border-bottom: 16px solid #5fdac5;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error_message {
  background-color: #1e1e1e;
  color: #5fdac5;
  padding: 10px;
  justify-content: center;
  font-size: 3vw;
}

img {
  max-width: 225%; /* Autoscale the image within its container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra spacing below the image */

}

.cone_image {
  width: 200%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("Cone Icon.png");
}

.cube_image {
  width: 200%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("Cube Icon.png");
}

.image_overlay {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(30,30,30,0.90);
  align-items: center;
  justify-content: center;
  font-size: 1.25vw;
}